.productdisplay {
    display: flex;
    margin: 0 170px;
}

.productdisplay-left {
    display: flex;
    gap: 17px;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img {
    height: 163px;

}

.productdisplay-img {}

.productdisplay-main-img {
    width: 586px;
    height: 700px;
}

.productdisplay-right {
    margin: 0 170px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-right-star {}

.productdisplay-right-prices {}

.productdisplay-right-prices-old {}

.productdisplay-right-prices-new {}

.productdisplay-right-description {}

.productdisplay-right-size {}

.productdisplay-righ-cartegory {}