.productdisplay {
    display: flex;
    margin: 0 50px;
}

.productdisplay-left {
    display: flex;
    gap: 17px;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img {
    height: 150px;
    width: auto;
    object-fit: cover;
}

.productdisplay-img {}

.productdisplay-main-img {
    width: auto;
    height: 649px;
    object-fit: cover;
}

.productdisplay-right {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-right button {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-top: 15px;
    margin-bottom: 14px;
    border: none;
    outline: none;
    cursor: pointer;
}

.productdisplay-right-star {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productdisplay-right-prices {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-prices-old {
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-prices-new {
    color: #ff4141;
}

.productdisplay-right-description {}

.productdisplay-right-sizes {
    display: flex;
    border: none !important;
}

.productdisplay-right-sizes h1 {
    padding: 18px 24px;
    padding-left: 0;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right-size {
    display: flex;
    border: none;
    gap: 20px;

}
.productdisplay-right-size div {
    padding: 18px 18px;
    width: 60px;
    height: 60px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}
.productdisplay-right-size div:hover{
    background: #ebebeb;
}

.productdisplay-righ-cartegory {
    margin-top: 10px;
}

.productdisplay-righ-cartegory span {
    font-weight: 600;
}